div.tileRow {
    height:40px;
}
.hasImportable {
    background-color:#9f9;
}
.hasExportable {
    background-color:#99f;
}
div.tile {
    width:40px;
    height:40px;
    display:inline-block;
}
div.nestedSquare {
  position:absolute;
  left:0;
  top:0;
}
div.tileBackground {
    width:40px;
    height:40px;
    background-image: url("default-skin.png");
    display:inline-block;
    background-position: -80px -80px;
    position:relative;
}
div.selectionIndicator {
    width:40px;
    height:40px;
    background-image: url("selected.png");
    display:none;
}
div.tileTypeSelectionIndicator {
    width:40px;
    height:40px;
    background-image: url("selected.png");
    display:none;
}
div.potentialHighlight {
    width:40px;
    height:40px;
    background-color:#99ff99;
    opacity: .5;
    /*background-image: url("selected.png");*/
    display:none;
}
a.dropArea {
    width:60px;
    border:1px dotted #555;
    display:inline-block;
    text-align:center;
}
a.selectedTool {
    background-color: red;
}
